{% extends "base.html" %}

{% block titulo %}
<title>Lista de Viajes</title>
{% endblock titulo %}


{% block contenido %}
<h1 style="color:red;">
    Bienvenidos, les saluda Arian
</h1>
  
<h3>Viajes Reservados:</h3>
<table class="table">
    <tbody>
      <tr>
        <th>ID</th>
        <th>Destino</th>
        <th>Fecha de viaje</th>
        <th></th>
      </tr>
      {% for viajes in viajes %}
      <tr>
        <td>{{ viajes.id }}</td>
        <td>{{ viajes.destino }}</td>
        <td>{{ viajes.fecha_viaje }}</td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock contenido %}