<h1>Resultados de la búsqueda</h1>

<h2>Familiares</h2>
{% if resultados_familiares %}
    <ul>
    {% for familiar in resultados_familiares %}
        <li>{{ familiar.nombre }} {{ familiar.apellido }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron familiares.</p>
{% endif %}

<h2>Amigos</h2>
{% if resultados_amigos %}
    <ul>
    {% for amigo in resultados_amigos %}
        <li>{{ amigo.nombre }} {{ amigo.apellido }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron amigos.</p>
{% endif %}

<h2>Viajes</h2>
{% if resultados_viajes %}
    <ul>
    {% for viaje in resultados_viajes %}
        <li>{{ viaje.destino }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron viajes.</p>
{% endif %}
